<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time magazine person of the year</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <Link rel="Stylesheet" href="~/style.css" type="text/css" />

    <h1 class="header">Time's person of the year</h1>

    <form method="post">

        <label class="label" for="StartYear">Start from:</label>
        <input class="input" type="number" min="1927" max="2016" value="1927" name="StartYear" />

        <label class="label" for="EndYear">End with:</label>
        <input class="input" type="number" min="1927" max="2016" value="2016" name="EndYear" />

        <button class="btn" type="submit">Search</button>

    </form>
</body>
</html>